@page "/reservations/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Reservations</h3>
<hr />
<br />



<FormComponent ButtonText="Create Reservation" reservation="reservation" OnValidSubmit="@CreateReservation" />

@code {
    Reservation reservation = new Reservation();

    private IList<Restaurant>? Restaurants;
    private IList<Customer>? Customers;


    protected async override Task OnInitializedAsync()
    {
        Restaurants = await _client.GetFromJsonAsync<List<Restaurant>>($"{Endpoints.RestaurantsEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }

    private async Task CreateReservation()
    {
        // DateTime combinedDateTime = new DateTime(reservation.Date.Year, reservation.Date.Month, reservation.Date.Day, reservation.Time, 0, 0);     // Assign the combined DateTime to the reservation object    
        // reservation.DateTime = combinedDateTime;
        await _client.PostAsJsonAsync(Endpoints.ReservationsEndpoint, reservation);
        _navManager.NavigateTo("/reservations/");
    }
}