@page "/"


<div style="width: 1680px; height: 2470px; position: relative; background: white">
    <div style="width: 239px; height: 62px; left: 720px; top: 1738px; position: absolute">
        <div style="width: 239px; height: 62px; left: 0px; top: 0px; position: absolute; background: #BE6C37; border-radius: 6px">
            <a href="restaurantselection"></a>
        </div>
        <div style="left: 21.51px; top: 12.05px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            </div>
    </div>
    <div style="width: 1680px; height: 95px; left: 0px; top: 0px; position: absolute; background: #F4BA4F">
        <div style="width: 1527px; left: 50px; top: 710px; position: absolute; text-align: center; color:#F22F2F; font-size: 60px; font-family: Mystery Quest; font-weight: 500; word-wrap: break-word">Your table awaits: Thai the Knot with Table4U</div>
        <div style="left: 297px; top: 35px; position: absolute; text-align: center; color: #52122D; font-size: 20px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            <a href="restaurantselection">Restaurant Selection
                </a></div>
        <div style="left: 1505px; top: 71px; position: absolute; text-align: center; color: #52122D; font-size: 15px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            <a href="authentication/login">Login</a></div>
        <div style="left: 1578px; top: 71px; position: absolute; text-align: center; color: #52122D; font-size: 15px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            <a href="authentication/register">Sign Up</a></div>
        <div style="left: 126px; top: 22px; position: absolute; text-align: center; color: #52122D; font-size: 35px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Table4U</div>
        <img style="width: 48px; height: 46px; left: 1584px; top: 21px; position: absolute" src="https://via.placeholder.com/48x46" />
    </div>
    <img style="width: 90px; height: 105px; left: 25px; top: -10px; position: absolute" src="css/Table4U logo 1.jpg" />
    <img style="width: 474px; height: 315px; left: 43px; top: 875px; position: absolute; border-radius: 42px" src="css/image 11.jpg" />
    <img style="width: 485px; height: 323px; left: 32px; top: 1324px; position: absolute; border-radius: 44px" src="css/image 12.jpg" />
    <img style="width: 505px; height: 337px; left: 587px; top: 1324px; position: absolute; border-radius: 54px" src="css/image 13.jpg" />
    <img style="width: 498px; height: 332px; left: 1145px; top: 1324px; position: absolute; border-radius: 46px" src="css/image 14.jpg" />
    <div style="width: 1680px; height: 611px; left: 0px; top: 1859px; position: absolute; background: #E59867"></div>
    <div style="left: 55px; top: 1902px; position: absolute; text-align: center; color: white; font-size: 35px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">About Us</div>
    <div style="left: 55px; top: 2130px; position: absolute; text-align: center; color: white; font-size: 35px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Stay Connected</div>
    <div style="width: 1527px; left: 75px; top: 1988px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Table4U is your go-to platform for instant Thai restaurant reservations, linking diners with partner restaurants island wide, simplifying table bookings and enhancing your dining experience</div>
    <img style="width: 91px; height: 70px; left: 258px; top: 2200px; position: absolute" src="css/image 17.png" />
    <img style="width: 458px; height: 324px; left: 1162px; top: 876px; position: absolute; border-radius: 58px" src="css/image 10.jpg" />
    <img style="width: 486px; height: 324px; left: 597px; top: 876px; position: absolute; border-radius: 61px" src="css/image 9.jpg" />
    <img style="width: 69px; height: 77px; left: 381px; top: 2196px; position: absolute" src="css/image 16.png" />
    <a href="authentication/login">
        <img style="width: 57px; height: 48px; left: 1498px; top: 19px; position: absolute" src="css/image 5.png" />
    </a>
    <a href="authentication/register">
        <img style="width: 57px; height: 48px; left: 1577px; top: 19px; position: absolute" src="css/image 6.png" />
    </a>
    <img style="width: 1680px; height: 596px; left: 0px; top: 112px; position: absolute" src="css/image 7.jpg" />
    <img style="width: 71px; height: 62px; left: 157px; top: 2204px; position: absolute" src="css/image 18.png" />
    <img style="width: 60px; height: 60px; left: 62px; top: 2206px; position: absolute" src="css/image 15.png" />
</div>