@page "/customers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class="card-title">Create New Customer</h3>
<hr />
<br />

<FormComponent ButtonText="Create Customer" customer="customer" OnValidSubmit="@CreateCustomer" /> @* when submit, it functions as CreateCust method *@

@code {
    Customer customer = new Customer();  /* Create instance */

    private async Task CreateCustomer()
    {
        await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, customer); /*  Post request to endpoints in JSON */
        _navManager.NavigateTo("/customers/");
    }
}
