@page "/locationfilters/create/"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class="card-title">Create New Postal Code</h3>
<hr />
<br />

<FormComponent ButtonText="Create LocationFilter" locationfilter="locationfilter" OnValidSubmit="@CreateLocationFilter" />

@code {
    LocationFilter locationfilter = new LocationFilter();



    private async Task CreateLocationFilter()
    {
        await _client.PostAsJsonAsync(Endpoints.LocationFiltersEndpoint, locationfilter);
        _navManager.NavigateTo("/locationfilters/");
    }
}
